<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hot Spots Search</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" ></link>
  </head>
  <body>
    <div class="searchBar">
      <h2>Welcome to Hot Spots, Dave.</h2>
      <form>
        <input id="searchiness" type="text" name="search" placeholder="Enter a location...">
        <button id="searchbutton" type="submit" style=>Enter</button>
      </form>
    </div>
  </body>
</html>
